[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/holysoles/nvim.git
[submodule ".ssh"]
	path = .ssh
	url = git@github.com:holysoles/ssh-config.git
[submodule ".pi/agent/extensions/.rtk"]
	path = .pi/agent/extensions/.rtk
	url = https://github.com/rtk-ai/rtk.git
[submodule ".pi/agent/extensions/.mitsuhiko"]
	path = .pi/agent/extensions/.mitsuhiko
	url = https://github.com/mitsuhiko/agent-stuff.git
